{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2021,
    "project": ["./tsconfig.json"]
  },
  "plugins": ["import", "@typescript-eslint"],
  "extends": ["eslint:recommended", "airbnb-base", "airbnb-typescript/base", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "linebreak-style": "off",
    "max-len": ["warn", { "code": 120 }],
    "no-console": "off",
    "operator-linebreak": ["error", "after"],
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "@typescript-eslint/quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }]
  },
  "env": {
    "es6": true,
    "node": true
  }
}
