{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": [ "./tsconfig.json" ]
  },
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "linebreak-style": "off",
    "max-len": ["warn", { "code": 120 }],
    "no-console": "off",
    "operator-linebreak": ["error", "after"],
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "@typescript-eslint/quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
  },
  "env": {
    "es6": true,
    "node": true
  }
}
